.dashboardView {
    height: 80%;
}

.header {
    font-family: 'Amatic SC', sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    height: 20%;
}

.available-animals-slot {
    height: 100%;
}