// label tag, and inputs are being styles in search

.infoView {
    max-width: 80%;
    margin: 0 auto;
}

.form-section:not(:first-child), .infoView-button {
    // margin-left: 20px;
}

.info-button {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: calc(20px + #{$bar-height});
}

.padding {
    padding-top: 3em;
}

.info-background {
    padding-bottom: calc(20px + #{$bar-height});
}

.info-button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-family: 'Amatic SC', sans-serif;
  color: #ffffff;
  font-size: 25px;
  background: #8bd76e;
  padding: 8px;
  text-decoration: none;
  border: none;
}

.info-button:hover {
  background: #66cc33;
  text-decoration: none;
}

input[type=checkbox] {
    margin-left: 1em;
    display: inline-block;
}