<div class="header">My Info</div>

<div class="background info-background">
    <div class="form-section">
        <label for="info-name">Name</label>
        <input type="text" id="info-name" class="info-view-input" value="<%= name %>"/>
    </div>

    <div class="form-section">
        <label for="info-email">Email</label>
        <input type="email" id="info-email" class="info-view-input" value="<%= email %>"/>
    </div>

    <div class="form-section">
        <label for="info-zipcode">Zipcode</label>
        <input type="text" id="info-zipcode" class="info-view-input info-zipcode" value="<%= zipcode %>"/>
    </div>

    <div class="form-section padding">
        <label for="info-fostered-before">Have you fostered before?</label>
        <input type="checkbox" name="info-fostered-before" class="info-view-input"/> Yes
    </div>

    <div class="form-section padding">
        <label for="info-own-pets">Do you own any pets currently?</label>
        <input type="checkbox" name="info-own-pets" id="info-own-pets" class="info-view-input"/> Yes
    </div>

    <div class="form-section padding">
        <label for="info-vet">What vet do you use?</label>
        <input type="text" id="info-vet" name="info-vet" class="info-view-input" value="<%= vet %>" />
    </div>
    <button class="info-button">Update My Info</button>
</div>